.form-create {
  display: flex;
  flex-direction: column;

  min-width: 20rem;

  .inputs-contents{
    display: flex;
    flex-direction: column;
  }
}

.mat-form-field-autofill-control {
  resize: none;
}