.form-create {
  display: flex;
  flex-direction: column;

  min-width: 20rem;
  gap: .5rem;

  .inputs-contents {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    .form-control{
      resize: none;
    }
  }

  .actions-buttons {
    display: flex;
    
    .submitButton {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .action-content-spinner {
      circle {
        stroke: #ffffff;
      }
    }
  }
}

.mat-tooltip{
  font-size: .8rem;
}
