.example-container {
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.test{
  margin: 0 5px;
}

h3{
  font-weight: 500;
  text-align: center;
}