<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3>Navigate across modules</h3>
    <button mat-raised-button class="test" routerLink="/" color="primary">Home</button>
    <button mat-raised-button class="test" routerLink="/app-a" color="accent">App A</button>
    <button mat-raised-button class="test" routerLink="/app-b" color="warn">App B</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>